:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background-color: #251F24;
  margin: 0;
}

a {
  color: var(--white30);
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  font-size: 14px;
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-block-start: 40px;
  margin-block-end: 16px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  margin-block-start: 40px;
  margin-block-end: 24px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin-block: 16px;
}

p {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: var(--white20);
}

.header-content {
  padding-inline: 20px;
}

header {
  font-size: 14px;
  color: var(--white);
  margin-block-start: 20px;
}

pre {
  background-color: var(--white10);
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  margin-block-end: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px;
  padding-block-end: 0;
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755, 30.63%, #26A0DA 102.18%);
  block-size: 100px;
}

.section-content img {
  margin-block-start: 24px;
  display: block;
  max-inline-size: 100%;
  inline-size: 48px;
  block-size: 48px;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content:not(:first-of-type) h3 {
  margin-block-start: 24px;
}

.section-content:not(:first-of-type) img {
  inline-size: 100%;
  block-size: auto;
  margin-block-start: 16px;
  margin-block-end: 24px;
}

.section-content:nth-of-type(3) h3:first-of-type {
  font-weight: 700;
}

.section-content ol {
  padding-inline: 16px;
}

.section-content ul {
  padding-inline: 16px;
}

.section-content ul li {
  margin-block-end: 16px;
}

.section-content:nth-of-type(4) h2 {
  margin-block-start: 24px;
}

.contact p {
  color: var(--white);
}




/* .section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
} */

hr {
  margin-block: 40px;
  border-color: rgba(97, 97, 97, 0.2);
}

blockquote {
  margin-block-start: 40px;
  margin-block-end: 40px;
  margin-inline: 0;
  border-radius: 8px;
  padding: 8px;
  max-inline-size: 100%;
  background-color: var(--white10);
}

blockquote p {
  color: var(--white30);
  font-size: 17px;
  line-height: 32px;
  font-weight: 700;
}

.main hr {
  display: none;
}

.main hr:nth-of-type(2) {
  display: block;
}

.main {
  padding-inline: 16px;
}

.wrapper {
  max-inline-size: 902px;
  margin: auto;
}

.main-content {}

.slider {}

.slider-container {
  display: block;
  /* block-size: 100px; */
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 10px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: white;
  border-radius: 50%;
}

.form input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--white30);
  background: #251F24;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  color: var(--white30);
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
}

.form input[type="submit"] {
  background: #157EFB;
  border: none;
}


.form input::-webkit-input-placeholder {
  color: var(--white20);
}

@media screen and (min-width: 1366px) {
  .main {
    padding: 0;
  }

  .wrapper {
    max-inline-size: 636px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }

  header {
    font-size: 14px;
    color: var(--white);
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }

  .hero {
    block-size: 350px;
  }

  h1 {
    font-size: 64px;
    font-weight: 700;
    margin-block-start: 64px;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
  }

  .section-content {
    counter-reset: titleList;
  }

  .section-content:first-of-type h3::before {
    content: counter(titleList, decimal) ". ";
  }

  .section-content:first-of-type img {
    inline-size: 80px;
    block-size: 80px;
    margin-block-start: 40px;
  }

  .section-content:not(:first-of-type) h2 {
    margin-block-end: 40px;
  }

  .section-content:not(:first-of-type) h3 {
    margin-block-start: 40px;
  }

  .section-content:nth-of-type(3) h2 {
    font-size: 32px;
    font-weight: 600;
    margin-block-start: 122.87px;
  }

  .section-content:nth-of-type(3) h3:first-of-type {
    font-size: 24px;
    font-weight: 400;
  }

  .section-content:nth-of-type(4) h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
  }

  .section-content:last-of-type h2 {
    font-size: 24px;
    font-weight: 400;
  }

  blockquote {
    padding: 24px;
    padding-inline-end: 17px;
    margin-block-end: 64px;
  }

  blockquote p {
    font-size: 24px;
    font-weight: 400;
  }

  pre {
    padding: 40px;
    padding-inline-end: 64px;
    font-size: 16px;
    font-weight: 400;
  }
}