:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background-color: #251F24;
}

a {
  color: var(--white30);
}

header {
  font-size: 14px;
  color: var(--white);
}

header li {
  color: var(--white20);
}

header a {
  font-size: 14px;
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}

h1 {
  /* font-size: 60px; */
  font-size: 3.75em;
  font-weight: normal;
}

h2 {
  /* font-size: 32px; */
  font-size: 2em;
  font-weight: normal;
}

h3 {
  /* font-size: 24px; */
  font-size: 1.5em;
  font-weight: normal;
}

p {
  /* font-size: 16px; */
  font-size: 1em;
}

pre {
  background-color: var(--white10);
}

p {
  color: var(--white20);
}

.hero {
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .38), transparent), url("../images/pattern.png"); */
  background-image: linear-gradient(96.07deg, #314755, 30.63%, #26A0DA 102.18%);
  height: 350px;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList)
}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
}